---
global:
  TZ: "Atlantic/Reykjavik"

Company: "TEST CO"

application:
  hostFQDN: "nms.test.local"
  volumeSize: "60Gi"
  realIPfrom: "0.0.0.0/32"
  SNMPcommunity: "'test','public'"
  weathermap: "true"
  weathermapSchedule: "*/5 * * * *"

storage:
  path: "/opt/kubes/storage/"

## Services
mariadb:
  database: "librenms"
  volumeSize: "50Gi"
  credentials:
    rootPassword: "fooRootPassword"
    user: "foo"
    password: "bar"

msmtpd:
  host: "smtp.gmail.com"
  port: "587"
  from: "foo@gmail.com"
  credentials:
    email:
      user: "foo"
      password: "bar"   

smokeping:
  hostFQDN: "smokeping.test.local"

oxidized:
  enable: "1"
  hostFQDN: "ox.test.local"

  credentials:
    user: "deviceadmin"
    password: "devicepassword"
    token: "API-token-generated-inside-LIBRE"
