enabled: true

issuer:
  create: true
  kind: "ClusterIssuer"
  name: "letsencrypt-prod"
  email: "admin@your-real-domain.tld"
  environment: "production"
  privateKeySecretName: "letsencrypt-account-key"
  server:
    production: "https://acme-v02.api.letsencrypt.org/directory"
    staging: "https://acme-staging-v02.api.letsencrypt.org/directory"
  solver:
    type: "acmeDNS"
    http01IngressClass: "traefik"
    acmeDnsHost: "auth.vist.is"
    acmeDnsAccountSecretName: "acme-dns-credentials"

certificate:
  create: true
  secretName: "https-cert"
  commonName: "nms.example.com"
  dnsNames:
    - "nms.example.com"
    - "ox.example.com"
    - "smokeping.example.com"
